.input-container .input {
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    font-size: 16px;
}

.input-container .input.error {
    border-color: red;
}

.input-container .input-label {
    font-size: 20px;
}

.input-container .error-message {
    font-style: italic;
    color: red;
    font-size: 14px;
    margin-top: 5px;
}