.btn {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    height: 40px;
    outline: none;
    border-radius: 5px;
    color: white;
}

.btn-primary {
    background-color: green;
}

.btn-primary:hover {
    background-color: darkgreen;
}

.btn-default {
    background-color: blue;
}

.btn-default:hover {
    background-color: darkblue;
}

.btn:active {
    transform: scale(0.9);
}