.link {
    padding: 10px;
    font-size: 22px;
    cursor: pointer;
    display: inline-flex;
}

.link:hover {
    background-color: whitesmoke;
}

.link.selected {
    background-color: whitesmoke;
}